html, body {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}


.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    max-width: 1000px;
    padding: 0 1rem;
    margin: 0 auto;
}


header {
    padding: 1rem 0;
    background: #000;
    color: #fff;
}
.header__links {
    display: flex;
    gap: 1rem;
}
.header__link {
    position: relative;
    padding-bottom: 2px;
}
.header__underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.1s;
}
.header__link:hover .header__underline,
.header__link:active .header__underline {
    width: 100%;
}


main {
    padding: 3rem 0;
    flex: 1;
}


footer {
    padding: 1rem 0;
    background: #000;
    color: #fff;
}
