{% extends "base.html" %}

{% load static %}

{% block title %}Объявление{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'ads/css/ad_detail.css' %}">
    <link rel="stylesheet" href="{% static 'ads/css/ad_form.css' %}">
{% endblock links %}

{% block content %}
    <div class="ad-detail">
        <div class="container">
            <h1>{{ ad.title }}</h1>

            <div class="ad">
                <p class="ad__desc">{{ ad.description|linebreaksbr }}</p>
                <div class="ad__img-cover">
                    {% if ad.image_url %}
                        <img src="{{ ad.image_url.url }}" class="ad__img">                        
                    {% endif %}
                </div>
            </div>

            {% if user.is_authenticated and user == ad.user %}
                <div class="edit-block">
                    <div class="edit-block__top">
                        <h2>Отредактировать</h2>
                        <form action="{% url "ad_delete" id=ad.id %}" method="POST" class="delete-form">
                            {% csrf_token %}
                            <button class="delete-form__btn">
                                <span>Удалить</span>
                                <img src="{% static "ads/img/trash.svg" %}"  class="delete-form__img">
                            </button>
                        </form>
                    </div>
                    <form method="POST" enctype="multipart/form-data" class="ad-form">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% if form.errors %}
                            <ul class="form-errors">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <button class="ad-form__btn">Отправить</button>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock content %}
