{% extends "base.html" %}

{% load static %}

{% block title %}Детали объявления{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'ads/css/ad_detail.css' %}">
    <link rel="stylesheet" href="{% static 'ads/css/ad_form.css' %}">
    <link rel="stylesheet" href="{% static 'ads/css/proposal_form.css' %}">
{% endblock links %}

{% block content %}
    <div class="ad-detail">
        <div class="container">
            <h1>{{ ad.title }}</h1>

            <div class="ad">
                <p class="ad__desc">{{ ad.description|linebreaksbr }}</p>
                <div class="ad__img-cover">
                    {% if ad.image %}
                        <img src="{{ ad.image.url }}" class="ad__img">                        
                    {% endif %}
                </div>
            </div>

            {% if user.is_authenticated and user != ad.user %}
                {% comment %} My proposals. {% endcomment %}
                {% if my_proposals %}
                    <div class="proposals-block">
                        <h2>Мои предложения</h2>
                        <ul class="proposals">
                            {% for proposal in my_proposals %}
                                    <li class="proposals__item">
                                        <a href="{% url 'edit_proposal' id=proposal.id %}" class="proposals__edit-link">
                                            <div class="proposals__item_content">
                                                <div class="proposals__bar"></div>
                                                <p class="proposals__title"><b>Я предлагаю: </b>{{ proposal.ad_sender.title }}</p>
                                                {% if proposal.comment %}
                                                    <p class="proposals__comment"><b >Комментарий: </b>{{ proposal.comment|truncatechars:50 }}</p>                                    
                                                {% endif %}
                                            </div>
                                        </a>

                                        <form action="{% url "proposal_delete" id=proposal.id %}" method="POST" class="delete-form">
                                            {% csrf_token %}
                                            <button class="delete-form__btn">
                                                <span>Удалить</span>
                                                <img src="{% static "ads/img/trash.svg" %}"  class="delete-form__img">
                                            </button>
                                        </form>
                                    </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% comment %} Exchange form. {% endcomment %}
                <div class="proposal-block">
                    <h2>Предложить обмен</h2>
                    <form method="POST" class="proposal-form">
                        {% csrf_token %}
                        {% for field in proposal_form.visible_fields %}
                            <div>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% if proposal_form.errors %}
                            <ul class="form-errors">
                                {% for field in proposal_form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in proposal_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <button class="proposal-form__btn" name="exchange_proposal">Отправить</button>
                    </form>
                </div>
            {% endif %}


            {% if user.is_authenticated and user == ad.user %}
                {% comment %} Proposals for me. {% endcomment %}
                {% if proposals_for_me %}
                    <div class="proposals-block">
                        <h2>Педложения для меня</h2>
                        <ul class="proposals">
                            {% for proposal in proposals_for_me %}
                                <li class="proposals__item">
                                    <div class="proposals__item_content">
                                        <div class="proposals__bar"></div>
                                        <p class="proposals__title"><b>От меня хотят: </b>{{ proposal.ad_sender.title }}</p>
                                        {% if proposal.comment %}
                                            <p class="proposals__comment"><b >Комментарий: </b>{{ proposal.comment|truncatechars:50 }}</p>                                    
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% comment %} Edit form. {% endcomment %}
                <div class="edit-block">
                    <div class="edit-block__top">
                        <h2>Отредактировать</h2>
                        <form action="{% url "ad_delete" id=ad.id %}" method="POST" class="delete-form">
                            {% csrf_token %}
                            <button class="delete-form__btn">
                                <span>Удалить</span>
                                <img src="{% static "ads/img/trash.svg" %}"  class="delete-form__img">
                            </button>
                        </form>
                    </div>
                    <form method="POST" enctype="multipart/form-data" class="ad-form">
                        {% csrf_token %}
                        {% for field in ad_form.visible_fields %}
                            <div>
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% if ad_form.errors %}
                            <ul class="form-errors">
                                {% for field in ad_form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in ad_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <button class="ad-form__btn" name="edit_ad">Отправить</button>
                    </form>
                </div>
            {% endif %}


        </div>
    </div>
{% endblock content %}
