{% extends "base.html" %}

{% load static %}

{% block title %}Предложения{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'ads/css/my_proposals.css' %}">
{% endblock links %}

{% block content %}
    <div class="my-proposals">
        <div class="container">
            <div class="my-proposals__top">
                <h1>{% block h1 %}{% endblock h1 %}</h1>
            </div>

            {% if proposals %}
                <ul class="proposals">
                    {% for proposal in proposals %}
                        <li class="proposal-item">
                                <div class="proposal-item__content">
                                    <a href="{% url "ad_detail" id=proposal.ad_sender.id %}" class="proposal-item__link">
                                        <p class="proposal-item__title">
                                            <b>{% block ad_sender_text %}{% endblock ad_sender_text %}: </b>
                                            {{ proposal.ad_sender.title }}
                                        </p>
                                        <div class="proposal-item__hover-bar"></div>
                                    </a>
                                    <a href="{% url "ad_detail" id=proposal.ad_receiver.id %}" class="proposal-item__link">
                                        <p class="proposal-item__title">
                                            <b>{% block ad_receiver_text %}{% endblock ad_receiver_text %}: </b>
                                            {{ proposal.ad_receiver.title }}
                                        </p>
                                        <div class="proposal-item__hover-bar"></div>
                                    </a>
                                    {% if proposal.comment %}
                                        <p class="proposal-item__comment">
                                            <b>Комментарий: </b>
                                            {{ proposal.comment }}
                                        </p>                                    
                                    {% endif %}
                                </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Здесь пусто</p>
            {% endif %}

            {% if page_obj.has_previous or page_obj.has_next  %}
                <div class="pagination">
                    <div class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="step-links__link" title="Начало">&laquo;</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="step-links__link" title="Назад">&lsaquo;</a>
                        {% endif %}
                        <span class="current">
                            {{ page_obj.number }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="step-links__link" title="Вперед">&rsaquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="step-links__link" title="Конец">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock content %}
