{% extends "base.html" %}

{% load static %}

{% block title %}Мои объявления{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'ads/css/my_ad_list.css' %}">
{% endblock links %}

{% block content %}
    <div class="my-ad-list">
        <div class="container">
            <div class="my-ad-list__top">
                <h1>Мои Объявления</h1>
                <a href="{% url "ad_create" %}" class="ad-create-link">
                    <span>Создать</span>
                    <img src="{% static "ads/img/plus.svg" %}">
                </a>
            </div>

            {% if ads %}
                <ul class="ads">
                    {% for ad in ads %}
                        <li class="ad-item">
                            <a href="{% url "ad_detail" id=ad.id %}" class="ad-item__link {% if ad.user == user %}my-ad{% endif %}">
                                <div class="ad-item__content">
                                    <p class="ad-item__title">{{ ad.title }}</p>
                                    <p class="ad-item__desc">{{ ad.description|truncatechars:100 }}</p>
                                    <div class="ad-item__hover-bar"></div>
                                </div>
                                <div class="ad-item__img-cover">
                                    {% if ad.image %}
                                        <img src="{{ ad.image.url }}" class="ad-item__img">                        
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Здесь пусто</p>
            {% endif %}

            {% if page_obj.has_previous or page_obj.has_next  %}
                <div class="pagination">
                    <div class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="step-links__link" title="Начало">&laquo;</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="step-links__link" title="Назад">&lsaquo;</a>
                        {% endif %}
                        <span class="current">
                            {{ page_obj.number }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="step-links__link" title="Вперед">&rsaquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="step-links__link" title="Конец">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock content %}
