{% extends "base.html" %}

{% load static %}

{% block title %}Предложения обмена{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'ads/css/proposal_list.css' %}">
{% endblock links %}

{% block content %}
    <div class="my-ad-list">
        <div class="container">
            <h1>Предложения обмена</h1>

            {% if proposals %}
                <ul class="proposals">
                    {% for proposal in proposals %}
                        <li class="proposal-item">
                            <a href="{% url "ad_detail" id=ad.id %}" class="proposal-item__link">
                                <div class="proposal-item__content">
                                    <p class="proposal-item__title">{{ ad.title }}</p>
                                    <p class="proposal-item__desc">{{ ad.comment|truncatechars:100 }}</p>
                                    <div class="proposal-item__hover-bar"></div>
                                </div>
                                <div class="proposal-item__img-cover">
                                    {% if ad.image %}
                                        <img src="{{ ad.image.url }}" class="proposal-item__img">                        
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Здесь пусто</p>
            {% endif %}

            {% if page_obj.has_previous or page_obj.has_next  %}
                <div class="pagination">
                    <div class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="step-links__link" title="Начало">&laquo;</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="step-links__link" title="Назад">&lsaquo;</a>
                        {% endif %}
                        <span class="current">
                            {{ page_obj.number }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="step-links__link" title="Вперед">&rsaquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="step-links__link" title="Конец">&raquo;</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock content %}
